{% extends 'base.html.twig' %}

{% block body %}
    <h1>La page que vous recherchez n'existe pas.</h1>

    <p>
        Vérifiez que l'url correspond à ce que vous recherchez, sinon rendez-vous <a href="{{ path('homepage') }}">en page d'accueil</a>.
    </p>
{% endblock %}